# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
tts-venv/

# Environment variables
.env

# IDE/editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Test and type-checking caches
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# PyInstaller
dist/
build/
*.spec

# Application-specific
app/config/characters/
